Django==4.2.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
python-dotenv==1.0.1
mysql-connector-python==8.2.0
google-auth==2.36.0
python-jose[cryptography]==3.3.0
passlib==1.7.4
email-validator==2.2.0
pydantic==2.10.4
cryptography==46.0.5
requests==2.32.3
